.offer-img {
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.category-img {
    width: 140px;
    height: auto;
    object-fit: cover;
}

/* Hide scrollbar */
#banner-img::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
#banner-img {
    scrollbar-width: none;
}
